<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New To-Do</title>
</head>

<body>
    <form method="post" action="/home">
        <h3>
            <label for="title">Add Title: </label>
            <input type="text" id="title" name="title" placeholder="Add title">
        </h3>
        <h3><label for="content">Add Content: </label></h3>
        <textarea name="content" id="content" placeholder="Write content" rows="30" cols="60"></textarea><br>
        <button>Hit Task</button>
    </form>
</body>

</html>